* {
    text-align: center;
    background-color: skyblue;
    border-radius: 1rem;
    font-size: 30px;
}

.borderBox {
    display: inline-block;
    border: 0.5rem solid;
    border-radius: 0.5rem;
}

#choices {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5rem;
}

#rockItem {
    font-size: 1rem;
    background-color: grey;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#paperItem {
    font-size: 1rem;
    background-color: aliceblue;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#scissorItem {
    font-size: 1rem;
    background-color: silver;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#result {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
